<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="footer-description"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a>
    <h6> Please note that this is a personal blog. Any opinions expressed are the author's own and do not represent any official stance of any organizations they are part of in either a professional or personal capacity.</h6>
  </div>
</footer>
